body{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.headers_buiten_ul{
    margin-left: 300px;
}
ul{
    margin-left: 300px;
}
form{
    margin-left: 300px;
}