<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/fotos/logo.jpeg" type="image/x-icon">
    <title>Maak Acount</title>
</head>
<body>
    <header>maak een acount</header>
    <form action="{{url_for(create_acount)}}" method="post">
        <input type="email" name="email" placeholder="email">
        <button type="submit">Maak Acount</button>
    </form>
</body>
</html>