<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/fotos/logo.jpeg" type="image/x-icon">
    <title>Acount succesvol gemaakt</title>
</head>
<body>
    <header>Dit is je acountcode</header>
    <footer>
        <p>Je acountcode is <b>{{acount_code}}</b>.
           En je krijgt ook 50 gratis credits.
        </p>
    </footer>
</body>
</html>