<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/fotos/logo.jpeg" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header class="headers_buiten_ul"><b>Time Break</b></header>
    <img src="" alt="" class="logo">
    <header class="headers_buiten_ul">Met onze horloges kom je nooit te laat!</header>
    <footer>
        <header class="headers_buiten_ul">Hier onder zijn de functies om ons product</header>
        <ul>
            <li>
                <header><b>De tijd bekijken</b></header>
                <img src="" alt="">
                <p>beschrijving functie 1</p>
            </li>
            <li>
                <header><b>Een alarm zetten</b></header>
                <img src="" alt="">
                <p>beschrijving functie 2</p>
            </li>
            <li>
                <header><b>Een stopwatch</b></header>
                <img src="" alt="">
                <p>beschrijving functie 3</p>
            </li>
        </ul>
        <b class="headers_buiten_ul">Als u ons horolege wilt click <a href="">hier</a>.</b>
    </footer>
</body>
</html>