<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Verzonden</title>
</head>
<body>
    <header>Lorem ipsum dolor sit amet consectetur.</header>
    <footer>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
        Hic facere ipsa reprehenderit deleniti rerum eos repellendus sit? <br>
        Non repudiandae aut, nulla quaerat suscipit at sed corporis dolore veniam error quidem.</footer>
</body>