<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="shortcut icon" href="/static/fotos/favicon.ico" type="image/x-icon">
  <title>Verzonden</title>
</head>
<body>
  <header>Uw bestelling is succesvol geplaats.</header>
  <footer>
    <p>Uw bestelling komt binnen 10 dagen toe aan je huis.<br>
    Time Break inc is niet verantwoordelijk als uw bestelling niet toe komt.</p>
    <i style="font-size: 5px;">Je bestelling komt niet aan omdat het product niet verkocht wordt.<br>
    Time Break inc is geen comcerieel bedrijf.<br>
    Omdat het zijn producten gratis aanbied op de website.</i>
  </footer>
</body>